*#*
*.a
*.o
*~
/*git-status*
/.nfs00000000085a1c9200000058
/.tmp
/@LongLink
/a.out
/bank
/bank_simple
/barrier
/barrier_test
/cas_stresh
/client_server
/client_server_rt
/color_buf
/color_buf_memcpy
/core
/cs
/events_all
/l1_spil
/ls.sh
/main.S
/mem
/mem_latencies
/memstresh
/memstreshmp
/moesi
/moesi_all_sockets.sh
/moesi_th.c
/mpmap.out
/mpmap.out.cas.numa
/mpmap.out.cas.numa.15Jul
/mpmap.out.cas.numa.17Jul
/mpmap.out.new
/node_to_node_cose
/numactl.before.mem.modules
/o
/obins
/old
/one2one.S
/one2one_atomic
/one2one_big
/one2one_i
/one2one_int
/one2one_lli
/one2one_manual
/one2one_manual.S
/one2one_manual_manual
/one2one_manual_old_msg_t
/one2one_mem
/one2one_memcpy
/one2one_na
/one2one_no_m
/one2one_numa
/one2one_pf
/one2one_recv
/one2one_rt
/one2one_rt_pf
/one2one_send
/one2one_step
/one2onen1
/one2onenuma
/one2oneo
/one2onep
/pin.log
/r000hs
/recv
/rmain.sh
/ro.sh
/rrrr
/run
/run_nodes
/run_nodes_fixed
/run_on_all_nodes.sh
/run_wcycles.0.1
/run_wcycles.0.12
/run_wcycles.0.18
/run_wcycles.0.42
/run_wcycles.0.6
/run_wcycles.sh
/send
/ssmp.servers.12
/ssmp.servers.12.delay
/ssmp.servers.2
/ssmp.servers.2.delay
/ssmp.servers.24
/ssmp.servers.3
/ssmp.servers.3.delay
/ssmp.servers.4
/ssmp.servers.4.delay
/ssmp.servers.48
/ssmp.servers.6
/ssmp.servers.6.delay
/tail
/test_pref
/ticket_lock
/timectxsw
/trigonak
/wcycles
/with_memcpy
barriercolor_*
cscope*
gmon*
main
main_*
mainbig
one2one
one2onebig
oprof*
perf*
